<div class="well">
	<%= link_to 'DASHBOARD', admin_path %>
	<%= link_to 'CATEGORIES', admin_categories_path %>
	<%= link_to 'PRODUCTS', admin_products_path %>
	<%= link_to 'BRANDS', admin_brands_path %>
	<%= link_to 'SIZES', admin_sizes_path %>
	<%= link_to 'COLORS', admin_colors_path %>
	<%= link_to 'USERS', admin_users_path	 %>
	<%= link_to 'ORDERS', admin_orders_path	 %>
</div>