<%= form_for admin_users_new_path do |f| %>
  <div class="col-md-4 center-block form" style="float:none">
    <% if @user.errors.any? %>
      <% flash.now[:danger] = "You have #{@user.errors.count} errors!" %>        
      <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
      <br>
    <% end %> 
  <div class="login-form">    
    
    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :surname %><br />
      <%= f.text_field :surname , class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :is_admin %><br />
      <%= f.check_box :is_admin , class: "checkbox" %>
    </div>
    <div class="form-group">
      <%= f.label :activated %><br />
      <%= f.check_box :activated , class: "checkbox" %>
    </div>
  </div>
</div>
  <div class="col-md-4 center-block" style="float:none; padding-top: 20px;">
    <% if params[:action] == 'edit' %>
      <%= f.submit 'EDIT USER', :class=>'btn right-align btn-dark-grey'%>
    <% else %>
      <%= f.submit 'CREATE USER', :class=>'btn right-align btn-dark-grey'%>
    <% end %>
  </div>
<% end %>
