<%= render 'navbar' %>

<%= link_to 'Remove', '#', class: 'btn btn-default'%>
<%= link_to 'Add Brand', new_brand_path, class: 'btn btn-default'%>
<%= search_field_tag 'name', '', placeholder: "Search", class: 'search' %>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
      	<th><%= check_box_tag :check %></th>
        <th>ID</th>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    	<% @brands.each do |u| %>
			<tr>
				<td><%= check_box_tag :check %></td>
		        <td><%= u.id %></td>
		        <td><%= u.name %></td>
		        <td>
		        	<%= link_to '', edit_brand_path(id: u.id),data_toggle: 'tooltip', title: 'Edit brand', class: 'glyphicon glyphicon-pencil' %>
		        	<%= link_to '', brand_path(id: u.id), :data => {confirm: 'Are you sure?'}, method: :delete, data_toggle: 'tooltip', title: 'Remove brand', class: 'glyphicon glyphicon-trash' %>
		        </td>
		    </tr>
		<% end %>    
    </tbody>
  </table>	
 <%= will_paginate @brands %>
 <script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
</script>