<%= render 'navbar' %>

<%= link_to 'Remove', '#', class: 'btn btn-default'%>
<%= link_to 'Add Brand', new_brand_path, class: 'btn btn-default'%>
<%= form_tag admin_brands_path, :method => 'get' do %>
  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= sortable 'id' %></th>
        <th><%= sortable 'name' %></th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    	<% @brands.each do |u| %>
			<tr>
		        <td><%= u.id %></td>
		        <td><%= u.name %></td>
		        <td>
		        	<%= link_to '', edit_brand_path(id: u.id),data_toggle: 'tooltip', title: 'Edit brand', class: 'glyphicon glyphicon-pencil' %>
		        	<%= link_to '', brand_path(id: u.id), :data => {confirm: 'Are you sure?'}, method: :delete, data_toggle: 'tooltip', title: 'Remove brand', class: 'glyphicon glyphicon-trash' %>
		        </td>
		    </tr>
		<% end %>    
    </tbody>
  </table>	
 <%= will_paginate @brands %>
 <script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
</script>