<%= render 'navbar' %>

<%= link_to 'Add Color', new_color_path, class: 'btn btn-default'%>
<%= link_to 'Remove selected', '', :data => {confirm: 'Are you sure?'}, class: 'btn btn-default', onclick: 'deleteAll("color")'%>
<%= form_tag admin_colors_path, :method => 'get' do %>
  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= check_box_tag :check_all %></th>
        <th>ID</th>
        <th>Name</th>
        <th>Color</th>
        <th>Hex</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    	<% @colors.each do |u| %>
			<tr>
            <td><%= check_box_tag 'checkbox_ids[]', u.id %></td>
		        <td><%= u.id %></td>
		        <td><%= u.name %></td>
		        <td><div class="circle" style="background-color: <%= u.hex %>"></div></td>
		        <td><%= u.hex %></td>
		        <td>
		        	<%= link_to '', edit_color_path(id: u.id),data_toggle: 'tooltip', title: 'Edit color', class: 'glyphicon glyphicon-pencil' %>
		        	<%= link_to '', color_path(id: u.id), :data => {:confirm => 'Are you sure?'}, :method => :delete, data_toggle: 'tooltip', title: 'Remove color', class: 'glyphicon glyphicon-trash' %>
		        </td>
		    </tr>
		<% end %>    
    </tbody>
  </table>	
  <%= will_paginate @colors %>
 <script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});

   $('#check_all').change(checkAll);
</script>