<%= render 'navbar' %>

<div class="row">
	<div class="col-md-2">
		<%= link_to admin_categories_path do %>
			<div class="border-thumb">
				<span><%= @categories.count %></span>
				<p>categories</p>
			</div>
		<% end %>
		<%= link_to 'ADD CATEGORIES', categories_new_path, class: 'btn btn-add center-block' %>
	</div>
	<div class="col-md-2">
		<%= link_to admin_products_path do %>
			<div class="border-thumb">
				<span><%= @products.count %></span>
				<p>products</p>
			</div>
		<% end %>
		<%= link_to 'ADD PRODUCTS', new_product_path, class: 'btn btn-add center-block' %>
	</div>
	<div class="col-md-2">
		<%= link_to admin_brands_path do %>
			<div class="border-thumb">
				<span><%= @brands.count %></span>
				<p>brands</p>
			</div>
		<% end %>
		<%= link_to 'ADD BRANDS', new_brand_path, class: 'btn btn-add center-block' %>
	</div>
	<div class="col-md-2">
		<%= link_to admin_sizes_path do %>
			<div class="border-thumb">
				<span><%= @sizes.count %></span>
				<p>sizes</p>
			</div>
		<% end %>
		<%= link_to 'ADD SIZES', new_size_path, class: 'btn btn-add center-block' %>
	</div>
	<div class="col-md-2">
		<%= link_to admin_colors_path do %>
			<div class="border-thumb">
				<span><%= @colors.count %></span>
				<p>colors</p>
			</div>
		<% end %>
		<%= link_to 'ADD COLORS', new_color_path, class: 'btn btn-add center-block' %>
	</div>
	<div class="col-md-2">
		<%= link_to admin_users_path do %>
			<div class="border-thumb">
				<span><%= @users.count %></span>
				<p>users</p>
			</div>
		<% end %>
		<%= link_to 'ADD USERS', new_user_path, class: 'btn btn-add center-block' %>
	</div>
</div>