<%= render 'navbar' %>

<%= link_to 'Remove', '#', class: 'btn btn-default'%>
<%= link_to 'Add Product', new_product_path, class: 'btn btn-default'%>
<%= search_field_tag 'name', '', placeholder: "Search", class: 'search' %>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
      	<th><%= check_box_tag :check %></th>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    	<% @products.each do |u| %>
			<tr>
				<td><%= check_box_tag :check %></td>
		        <td><%= u.id %></td>
		        <td><%= u.name %></td>
		        <td><%= u.categories.empty? ? 'None' : u.categories[0].name  %></td>
		        <td><%= u.brand.nil? ? 'none' : u.brand.name %></td>
		        <td>$<%= u.price %></td>
		        <td>
		        	<%= link_to '', edit_product_path(id: u.id),data_toggle: 'tooltip', title: 'Edit user', class: 'glyphicon glyphicon-pencil' %>
		        	<%= link_to '', product_path(id: u.id), method: 'delete',:data => {:confirm => 'Are you sure?'}, data_toggle: 'tooltip', title: 'Remove user', class: 'glyphicon glyphicon-trash' %>
		        	
		        </td>
		    </tr>
		<% end %>    
    </tbody>
  </table>	
  <%= will_paginate @products %>
  
 <script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
</script>