<%= render 'navbar' %>

<%= link_to 'Add Size', new_size_path, class: 'btn btn-default'%>
<%= form_tag admin_sizes_path, :method => 'get' do %>
  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= check_box_tag 'sizes' %></th>
        <th>ID</th>
        <th>Size</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    	<% @sizes.each do |u| %>
			<tr>
            <td><%= check_box_tag 'size' %></td>
		        <td><%= u.id %></td>
		        <td><%= u.size %></td>
		        <td>
		        	<%= link_to '', edit_size_path(id: u.id),data_toggle: 'tooltip', title: 'Edit size', class: 'glyphicon glyphicon-pencil' %>
		        	<%= link_to '', size_path(id: u.id), :data => {confirm: 'Are you sure?'}, method: :delete, data_toggle: 'tooltip', title: 'Remove size', class: 'glyphicon glyphicon-trash' %>
		        </td>
		    </tr>
		<% end %>    
    </tbody>
  </table>	

  <%= will_paginate @sizes %>

 <script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
</script>