<%= render 'navbar' %>


<%= link_to 'Remove', '#', class: 'btn btn-default'%>
<%= link_to 'Add Variant', '#', class: 'btn btn-default'%>
<%= search_field_tag 'name', '', placeholder: "Search", class: 'search' %>

<%= form_for @product do |f| %>
	<div class="col-md-8 row center-block form" style="float:none">
		<div class="col-md-12 login-form">
			<div class="col-md-6 ">    
			    <% if @product.errors.any? %>        
			      <% for message in @product.errors.full_messages %>
			           <% flash.now[:danger] = message %>
			      <% end %>
			    <% end %> 
			    <div class="form-group">
			      <%= f.label :quantity %><br />
			      <%= f.text_field :quantity, class: "form-control" %>
			    </div>
			    <div class="form-group">
			      <%= f.label :color %><br />
			      <%= f.select :color, options_from_collection_for_select(@colors,"id", "name"),  class: "form-control" %>
			    </div>
			    <div class="form-group">
			      <%= f.label :size %><br />
			      <%= f.select :size, options_from_collection_for_select(@sizes,"id", "size"),  class: "form-control" %>
			    </div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-md-offset-4">
	      <%= f.submit 'CREATE PRODUCT', :class=>'btn btn-dark-grey'%>
	      <%= link_to 'CANCEL', admin_path ,:class=>'btn btn-default right-align'%>
	</div>
<% end %>
