<hr />
<footer>
	<p class="left">Copyright&copy;abhShoes. All rights reserved.</p>
	<ul class="right">
		<li><%= link_to 'Ženska obuća' %></li>
		<li><%= link_to 'Muška obuća' %></li>
		<li><%= link_to 'Dječija obuća' %></li>
		<li><%= link_to 'Sportska obuća' %></li>
		<li><%= link_to 'Dodaci' %></li>
	</ul>
</footer>