	<nav class="myNav navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-md-10 center-block" style="float: none;">
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
	     	<a class="navbar-brand" href="<%= root_path %>">abhShoes<span class="glyphicons glyphicon-shoe-steps"></span></a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav navbar-left">
		    	<% Category.all.each do |c| %> <!-- SMISLITI BOLJI NACIN -->
		    		<li><%= link_to c.name, c %></li>
		    	<% end %>
			</ul>
			  <ul class="nav navbar-nav navbar-right">
			  	<% if logged_in? %>
			  		<li><%= link_to 'Logout', logout_path, method: :delete %></li>
			  	<% else %>
			    	<li><%= link_to 'Login', login_path %></li>
			    <% end %>
			    <li class="divider-vertical"></li>
			    <% if current_user %>
			    	<% if is_admin?(current_user) %>
			    		 <li class="dropdown">
				          <a href="<%= admin_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><%= link_to 'Dashboard', admin_path %></li>
				            <li><%= link_to 'Profile', edit_user_path(current_user) %></li>
				          </ul>
				        </li>
			    	<% else %>
			    		<li><%= link_to 'Profile', edit_user_path(current_user) %></li>
			    	<% end %>
			    <% else %>
			    	<li><%= link_to 'Register', signup_path %></li>
			    <% end %>
		    	<li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span><span class="items" <% if @current_user && @current_user.total_products == 0 %>style="color:black; background-color:black;" 
		    		<% elsif !@current_user %>
              			style="color:black; background-color:black;" 
		    		<% end %> >
                <% if current_user %>
                  <%= @current_user.total_products  %>
                <% else %>
                  0
                <% end %>
                </span></a>
              </li>
			  </ul>
		</div>
	</div>
  </div><!-- /.container-fluid -->
</nav>

