<%= form_for @size do |f| %>
	<div class="col-md-4 center-block form" style="float:none">
		<h2>Edit size</h2></br>
		<div class="login-form">    
		    <% if @size.errors.any? %>        
		      <% for message in @size.errors.full_messages %>
		           <% flash.now[:danger] = message %>
		      <% end %>
		    <% end %> 
		    <div class="form-group">
		      <%= f.label :size %><br />
		      <%= f.text_field :size, class: "form-control" %>
		    </div>
		</div></br>
	      <%= f.submit 'EDIT SIZE', :class=>'btn btn-dark-grey'%>
	      <%= link_to 'CANCEL', admin_path ,:class=>'btn btn-default right-align'%>
	</div>
<% end %>