<h3>My orders:</h3><br>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    	<% @orders.each do |u| %>
			<tr>
		        <td><%= u.id %></td>
		        <td><%= Product.where(id: u.product_id).first.name %></td>
		        <td><%= u.quantity %></td>
		        <td>$<%= u.price %></td>
		        <td><%= u.created_at.strftime("%b %d, %Y") %></td>
		    </tr>
		<% end %>    
    </tbody>
 </table>	
 <%= will_paginate @orders %>