<h3>Your cart</h3>
<% total = 0 %>
<% if @cart.empty? %>
	<p>Your cart is empty.</p>
<% else %>
	<h3><%= link_to "Empty cart", cart_clear_path %></h3>
<% end %>

<% @cart.each do |id, quantity| %>
	<div class="col-md-8">
		<% product = Product.find_by_id(id) %>
		<%= link_to image_tag(product.image, :size => "200x180"), product %>
		<%= product.name %>
		<%= params[:size] %> 
		<%= number_to_currency(product.price, :unit => "$") %>
		Quantity: <%= quantity %>
		<% total += quantity * product.price %>
	</div>
<% end %>
<p>TOTAL: <%= number_to_currency(total, :unit => "$") %></p>
<p>Ukupno proizvoda:<%= @total %></p>
