<h3>Your cart</h3>
<% total = 0 %>
<% if @current_user.carts.empty? %>
	<p>Your cart is empty.</p>
<% else %>
	<h3><%= link_to "Empty cart", cart_clear_path %></h3>
<% end %>

<div class="col-md-7">
	<% @cart_items.each do |item| %>
		<div class="row thumb">
			<% product = Product.find_by_id(item.product.id) %>
			<%= link_to image_tag(item.product.image, :size => "200x180"), item.product %>
			<div class="caption">
				<h4>Model: <%= item.product.name %></h4>
				<h4>Size: 44</h4>
				<h4>Color: Red</h4>
				<h4>ID: 2445D</h4>
				<a href="/cart/remove/<%= item.id %>">Remove</a>
				<p><%=  %></p>
		 		<h4 class="price">Price:<br><strong><%= number_to_currency(item.product.price, :unit => "$") %></strong></h4>
				<h5 class="quantity">Quantity: <%= number_field_tag(:quantity, item.quantity) %></h5>
			</div>
		</div>
	<% end %>
</div>
<div class="col-md-4">
	<p>TOTAL: <%= number_to_currency(@current_user.total_price, :unit => "$") %></p>
	<p>Ukupno proizvoda:<%= @current_user.total_products %></p>
</div>


