<div class="row" >	
	<h3>Your cart</h3>
	<% total = 0 %>
	<% if @current_user.carts.empty? %>
		<p>Your cart is empty.</p>
	<% end %>
</div>
<div class="col-xs-8" style="padding-right: 70px">
	<% @cart_items.each do |item| %>
		<div class="row thumb">
			<% product = Product.find_by_id(item.product.id) %>
			<%= link_to image_tag(item.product.image, :size => "200x180"), item.product %>
			<div class="caption">
				<h4>Model: <%= item.product.name %></h4>
				<h4>Size: 44</h4>
				<h4>Color: Red</h4>
				<h4>ID: <%= item.product.id %></h4>
				<%= link_to 'Remove', '/cart/remove/' + item.id.to_s, class: 'btn btn-default btn-sm' %>
				<p><%=  %></p>
		 		<h4 class="price">Price:<br><strong><%= number_to_currency(item.product.price, :unit => "$") %></strong></h4>
				<h5 class="quantity">Quantity: <%= number_field_tag(:quantity, item.quantity) %></h5>
			</div>
		</div>
	<% end %>
</div>
<div class="col-xs-4">
	<div class="placanje-naslov">
		<%= active_link_to 'Korpa', cart_path, class: 'placanje active' %>
		<%= active_link_to 'Dostava', checkout_path, class: 'placanje' %>
		<%= active_link_to 'Placanje', "#", class: 'placanje'%>	
	</div>
	<!--
	<div class="narudzba">
		<p class="narudzba-left">Narudzba: <%= @current_user.total_products %> proizvoda</p>
		<p>Cijena: <br><strong><%= number_to_currency(@current_user.total_price, :unit => "$") %></strong> </p>
		<p>Dostava:<br><strong>$30.00<strong></p>
		<hr>
		<h4>Ukupno: <strong><%= number_to_currency(@current_user.total_price + 30, :unit => "$") %></strong></h4>
	</div> -->
	<div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Your order: <span class="grey-text"><%= @current_user.total_products %> products</span></h3>
      </div>
      <div class="panel-body">
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <div class="order-details-place-order">
                <span>Order</span><br>
                <strong><%= number_to_currency(@current_user.total_price) %></strong><br><br>
                <span>Shipping</span><br>
                <strong>$30.00</strong>
                <hr>
                <span>Total: </span>
                <strong><%= number_to_currency(@current_user.total_price+30) %></strong>
        </div>
      </article>
    </div>
	</div>
	<%= link_to 'NASTAVI', checkout_path, class: 'btn btn-dark-grey right-align' %>
	<%= link_to 'ODUSTANI', cart_clear_path, class: 'btn btn-default right-align' %>
</div>

