<div class="row">
	<h3 style="text-align:center;">Product variants</h3>
</div><br>
<div class="row">
	<% @product.variants.each do |v| %>
		<div class="col-md-3 col-xs-6 col-sm-4">
			<%= image_tag(v.product.img.url(:medium)) %><br>
			<%= v.product.name %><br>
			Size: <%= v.size.size %><br>
			Color: <%= v.color.name %><br>
			Quantity: <%= v.quantity %>KOM<br><br>
			<%= link_to 'Delete', product_variant_path(product_id: @product.id, id: v.id), method: 'delete', :data => {:confirm => 'Are you sure?'}, class: 'btn btn-default' %>
			<hr>
		</div>
	<% end %>
</div>