<div class="row">
	<h3 style="text-align:center;">Featured Products</h3>
	<h4 style="text-align:center;"><strong>VANS</strong> <span class="caret"></span> </h4>
</div>
<div class="row">
	<% @variants.each do |v| %>
		<div class="col-md-3 col-xs-6 col-sm-4">
			<%= image_tag(v.product.image, size: '200x180') %><br>
			<%= v.product.name %><br>
			<%= v.size.size %><br>
			<%= v.color.name %><br>
			<%= v.quantity %>KOM
			<hr>
		</div>
	<% end %>
</div>