<div class="row">
	<h3 style="text-align:center;">Products variants</h3>
</div><br>
<div class="row">
	<% @product.variants.each do |v| %>
		<div class="col-md-3 col-xs-6 col-sm-4">
			<%= image_tag(v.product.image, size: '200x180') %><br>
			<%= v.product.name %><br>
			<%= v.size.size %><br>
			<%= v.color.name %><br>
			<%= v.quantity %>KOM<br>
			<hr>
		</div>
	<% end %>
</div>