<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
	<div class="sidebar">
		<%= form_tag(controller: "categories", action: "show", method: "post") do %>
			<h4>FILTER</h4><br>
			<h5>Brand:</h5>
			<select name="brand_id" class="form-control filter">
				<option value="">All brands</option>
			    <% Brand.all.each {|brand| %>
			    <option value="<%=brand.id%>" <% if @brand_id == brand.id.to_s %>selected<% end %>><%= brand.name %></option>
			    <% } %>
			</select>
			<h5>Size:</h5>
			<select name="size_id" class="form-control filter">
				<option value="">All sizes</option>
			    <% Size.all.each {|size| %>
			    <option value="<%=size.id%>" <% if @size_id == size.id.to_s %>selected<% end %>><%= size.size %></option>
			    <% } %>
			</select>
			<h5>Color:</h5>
			<select name="color_id" class="form-control filter">
				<option value="">All colors</option>
			    <% Color.all.each {|color| %>
			    <option value="<%=color.id%>" <% if @color_id == color.id.to_s %>selected<% end %>><%= color.name %></option>
			    <% } %>
			</select>
			<h5>Min price:</h5> <%= number_field_tag :min_price, @min_price, min: 0, class: "price", :oninput => "validate()" %>
			<h5>Max price:</h5> <%= number_field_tag :max_price, @max_price, min: 0, class: "price", oninput: "validate()" %><br>
			<div id="error"></div>
			<br>
			<%= submit_tag 'Search', class: 'btn btn-default' %>
		<% end %>
	</div>
</div>
<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
	<div class="row" style="padding-top: 30px;">
		<h4 style="float:left;"><%=  @category.name%></h4>
		
	</div>
	<% if @products.empty? %>
		<h3>No products.</h3>
	<% else %>
	<% @products.each do |p| %>
		<div class="col-lg-4 col-md-4 col-sm-8">
			<%= link_to image_tag(p.img.url(:medium)), p %>
			<p><%= p.brand.name %> - <%= p.name %></p>
			<p class="colors"><%= number_to_currency(p.price, :unit => "$") %><span style="padding-right: 10px;"></span>
			<% p.variants.each do |c| %>
				<% if !c.color.nil? %>
					<div class="circle" style="background-color: <%= c.color.hex %>"></div>
				<% end %>
			<% end %>
			</p>
		</div>
	<% end %>
	<% end %>
  <%= will_paginate @products %>
</div>


<script>
	function validate(){
		var min = document.getElementById('min_price');
		var max = document.getElementById('max_price');
		var btn = document.getElementsByName('commit')[0];
		console.log('min: ' + min.value + '\n max: '+ max.value);
		if(min.value > max.value)
		{
			min.style.borderColor = "red";
			document.getElementById('error').innerHTML = "Min price should be lower than max price!"
			btn.disabled = true;
		}
		else
		{
			min.style.borderColor = '';
			document.getElementById('error').innerHTML = "";
			btn.disabled = false;
		}
	}
	
</script>
