<%= form_for @product, html: { multipart: true } do |f| %>
	<div class="col-md-8 row center-block form" style="float:none">
		<% if params[:action] == 'edit' %>
			<h2>Edit product</h2>
		<% else %>
			<h2>New product</h2>
		<% end %></br>
		<div class="col-md-12 login-form">
			<div class="col-md-6 ">    
			    <% if @product.errors.any? %>   
			    	<% m='' %>     
			      <% for message in @product.errors.full_messages %>
			           <% m += "\n<li>" + message %>
			      <% end %>
			      <% flash.now[:danger] =  simple_format m %>
			    <% end %> 
			    <div class="form-group">
			      <%= f.label :name %><br />
			      <%= f.text_field :name, class: "form-control" %>
			    </div>
			    <div class="form-group">
			      <%= f.label :description %><br />
			      <%= f.text_area :description, class: "form-control" %>
			    </div>
			    <div class="form-group">
			      <%= f.label :price %><br />
			      <%= f.number_field :price, class: "form-control", step: 0.01 %>
			    </div>
			    <div class="form-group">
			      <%= f.label :brand_id %><br />
			      <%= f.select :brand_id, options_from_collection_for_select(@brands,"id", "name"),  class: "form-control" %>
			    </div>
			    <div class="form-group">
			      <%= f.label :category_id %><br />
			      <%= f.select :category_id, options_from_collection_for_select(@categories,"id", "name"),  class: "form-control" %>
			    </div>

			    <% if @product.new_record? %>
			    	<div class="form-group">
			    		<h3 style="padding: 15px 0">Product Variant</h3>
			    		<%= f.fields_for :variants do |product_variant| %>
					        <div class="controls variant">
					          <%= product_variant.label :size %><br>
					          <%= product_variant.select :size_id, options_from_collection_for_select(@sizes,"id", "size"), required: true,  class: "form-control" %><br><br>
					          <%= product_variant.label :quantity %>
					          <%= product_variant.number_field :quantity, :class => 'form-control', required: true %><br>
					          <%= product_variant.label :color %><br>
					          <%= product_variant.select :color_id, options_from_collection_for_select(@colors,"id", "name"), required: true,  class: "form-control" %><br><br>
					          
					        </div>
					<% end %>
			    	</div>
			    	<div class="form-group">
			    	</div>
			    <% end %>
			</div>
			<div class="col-md-6">

			    <%= f.label :image %><br />
				<% if params[:action] == 'edit' %>
					<%= image_tag(@product.img(:thumb))%><br><br>
					<%= f.label :url %><br>
					<%= f.text_field :img, class: 'form-control' %>
				<% end %></br><br>
				<%= f.file_field :img %>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-md-offset-4">
		<% if params[:action] == 'edit' %>
			<%= f.submit 'EDIT PRODUCT', :class=>'btn btn-dark-grey'%>
		<% else %>
			<%= f.submit 'CREATE PRODUCT', :class=>'btn btn-dark-grey'%>
		<% end %>
	      <%= link_to 'CANCEL', admin_products_path ,:class=>'btn btn-default right-align'%>
	</div>
<% end %>