<div class="row" style = "padding-top: 30px">	
	<div class="col-md-4">
		<%= image_tag(@product.img.url(:large))%>
	</div>	
	<!--
	<div class="col-md-2 smallImg">
		<%= image_tag(@product.image, :size => "100x100") %>
		<%= image_tag(@product.image, :size => "100x100") %>
		<%= image_tag(@product.image, :size => "100x100") %> 
	</div>	-->
	<div class="col-md-5">
		<h4><%= @product.name %></h4>
		<p style="text-align: justify"><%= @product.description %></p>
		<%= form_tag({controller: "carts", action: "add"}, method: "post", class: "form") do %>
			<div class="productOptions ">
				<div class="leftOption">
					Boja: <br>
					<%= select_tag :color, options_from_collection_for_select(@colors, "name", "name"), id: 'color', prompt: 'Select color',  onchange: 'onChange()' %> 
				</div>
				<div class="rightOption">
					Kolicina: <br>
					<%= number_field_tag :quantity, '1', min: 1%> 
				</div>
				<div style="float:none;">
					
					Velicina: <br>
					<%= select_tag :size, options_from_collection_for_select(@sizes,"size", "size"), id: 'size', prompt: 'Select size', onchange: 'onChange()'%>
				</div>
			</div><br>
			<%= submit_tag "ADD TO CART", class: 'btn btn-default' %>
			<%= submit_tag "BUY NOW", class: 'btn btn-dark-grey', style: "margin-left:10px"%>
			<!--<a id="shop-now" href="/cart/<%= @product.id %>" class="btn btn-dark-grey", style="margin-left:10px" >KUPI ODMAH</a>
			
			<button class="btn btn-dark-grey" style="margin-left: 10px;">KUPI ODMAH</button> -->
		<% end %>
	</div>	
</div>
<div class="" style="padding-top: 70px;">
	<h4 style="text-align: center; padding-bottom: 30px;">You may also like</h4>
	<% @products.each do |p| %>
		<div class="col-md-3 col-xs-8 col-sm-6">
			<div class="img">
				<%= link_to image_tag(p.img.url(:medium)), p %><br><br>
				<%= link_to  simple_format(p.name + "\n\n $" + p.price.to_s), p, class: 'imgText'%> 
			</div>
		</div>
	<% end %>
</div>

<script>
	var size = document.getElementById('size').value;
	var color = document.getElementById('color').value;

	if(color == "" || size == "")
	{
		document.getElementsByName('commit')[0].disabled = true;
		document.getElementsByName('commit')[1].disabled = true;
	}

	function onChange(){
		var size = document.getElementById('size').value;
		var color = document.getElementById('color').value;
		if(color == "" || size == "")
		{
			document.getElementsByName('commit')[0].disabled = true;
			document.getElementsByName('commit')[1].disabled = true;
		}
		else {
			document.getElementsByName('commit')[0].disabled = false;
			document.getElementsByName('commit')[1].disabled = false;
		}
	}

</script>