<div class="row" style = "padding-top: 30px">	
	<div class="col-md-4">
		<%= image_tag(@product.image, :size => "300x280", :class => '')%>
	</div>	
	<div class="col-md-2 smallImg">
		<%= image_tag(@product.image, :size => "100x100") %>
		<%= image_tag(@product.image, :size => "100x100") %>
		<%= image_tag(@product.image, :size => "100x100") %> 
	</div>	
	<div class="col-md-5">
		<h4><%= @product.name %></h4>
		<p><%= @product.description %></p>
		<div class="productOptions ">
			<div class="leftOption">
				Velicina: <br>
				<%= select_tag "size", options_from_collection_for_select(@product.sizes, "id",  "size", "Sve velicine") %>
			</div>
			<div class="rightOption">
				Kolicina: <br>
				<%= number_field_tag 'quantity', ''%> 
			</div>
		</div><br>
		<a href="/cart/<%= @product.id %>" class="btn btn-default" >DODAJ U KORPU</a>
		<button class="btn btn-dark-grey" style="margin-left: 10px;">KUPI ODMAH</button>
	</div>	
</div>
<div class="" style="padding-top: 70px;">
	<h4 style="text-align: center; padding-bottom: 30px;">Slicni proizvodi</h4>
	<% @products.each do |p| %>
		<div class="col-md-3">
			<%= link_to image_tag(p.image, :size => "200x180", :class => 'img-responsive'), p %><br><br>
		</div>
	<% end %>
</div>
