<div class="row" style = "padding-top: 30px">	
	<div class="col-md-4">
		<%= image_tag(@product.image, :size => "300x280") %>
	</div>	
	<div class="col-md-2">
		<%= image_tag(@product.image, :size => "100x100") %>
		<%= image_tag(@product.image, :size => "100x100") %>
		<%= image_tag(@product.image, :size => "100x100") %>
	</div>	
	<div class="col-md-6">
		<h4><%= @product.name %></h4>
		<p><%= @product.description %></p>
		<p>
			Velicina: <%= select_tag "size", options_from_collection_for_select(@product.sizes, "id", "size") %>
			Kolicina: <%= text_field_tag 'quantity', '', size: 1%> 
		</p><br>
		<button class="btn">DODAJ U KORPU</button>
		<button class="btn btn-dark-grey">KUPI ODMAH</button>
	</div>	
</div>
<div class="" style="padding-top: 70px;">
	<h4 style="text-align: center; padding-bottom: 30px;">Slicni proizvodi</h4>
	<% @products.each do |p| %>
		<div class="col-md-3">
			<%= link_to image_tag(p.image, :size => "200x180"), p %><br><br>
		</div>
	<% end %>
</div>
